
<div class="section">

    <% Object.keys(notesSortedByTag).sort().forEach(function(tag) { %>
        <h2><%= tag %></h2>
        <ul id="history-list" class="list">
            
            <% notesSortedByTag[tag].forEach(function(note) { %>

                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <span class="id" style="display:none;"></span>
                    <a href=<%= note.noteId %>>
                        <div class="item">
                        <div class="content">
                            <h4 class="text"><%= note.title %></h4>
                            <p>
                            <i><i class="fa fa-clock-o"></i> created </i><i class="fromNow"></i>
                            <br>
                            <i class="timestamp" style="display:none;"></i>
                            <i class="time"></i>
                            </p>
                            <p class="tags">
                                <% note.tags.forEach(tag => { %>
                                    <span class="label label-default"><%= tag %> </span>
                                <% }) %>
                            </p>
                        </div>
                        </div>
                    </a>
                </li>
        <% }); %>
        </ul>
    <% }); %>
</div>
