<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ./build/cover-header %>
</head>

<body>
    <% Object.entries(notesSortedByTag).forEach(function(entryArray) { %>
        <h2><%= entryArray[0] %></h2>
        <% entryArray[1].forEach(function(note) { %>
            <li>
                <a href=<%= note.noteId %>>
                    <%= note.title %>
                </a>
            </li>
        <% }); %>
    <% }); %>
    

</body>

</html>

