<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ./build/cover-header %>
</head>

<body>

    
    <h1>Overview over all pads!</h1>

    <% notes.forEach(function(note) { %>
        <li>
            <a href=<%= note.noteId %>>
                <%= note.title %>
            </a>
        </li>
    <% }); %>
</body>

</html>

